<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{myTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Gelesen</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let gelesen of Gelesenes" [href]="gelesen.url" download>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>{{gelesen.title}}</ion-label>
      <ion-badge color="secondary" slot="end">{{gelesen.size}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
