<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <img src="/assets/pictures/home/suhr.jpg" slot="start" class="suhr_smal" />
          <img src="/assets/pictures/home/logo_smal.png" slot="end" class="suhr_smal" />
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngFor="let card of Card">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ card.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p [innerHTML]="card.description"></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

