<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{myTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Fotos</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let foto of Fotos" [href]="foto.full_url" download>
      <ion-thumbnail slot="start">
        <ion-img [src]="foto.url"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <ion-text color="primary">
          <h3>{{foto.title}}</h3>
        </ion-text>
        <ion-text color="secondary">
          <p [innerHTML]="foto.description"></p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
