<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{myTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-item-divider style="width: 100%;" item-content>
            <h4>Fotos</h4>
          </ion-item-divider>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="6" sizeXs="12" *ngFor="let foto of Fotos">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item [href]="foto.full_url" lines="none">
                <img [src]="foto.url" />
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>{{foto.title}}</ion-text>
              <p [innerHTML]="foto.description"></p>    
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>