<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-grid *ngFor="let card of Card">
    <ion-row class="ion-justify-content-start">
      <ion-col size="1" class="ion-align-self-center">
        <ion-item lines="none">
          <img src="/assets/pictures/home/logo_smal.png" slot="end" class="suhr_smal" />
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ card.title }}</ion-card-title>
            <ion-card-subtitle>{{ card.subtitle }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p [innerHTML]="card.text"></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Hinweise:</ion-card-title>
            <ion-card-subtitle><img src="/assets/pictures/home/home.jpg" /></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Der Internetauftritt von «Suhr e suberi Sach» ist optimiert auf die Browser Chrome, Firefox und MS Edge.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
          <h3>{{card.von.title}}</h3>
          <p>
            <img [src]="card.von.data.thumbnails[3].url" />
          </p>
      </ion-col>
      <ion-col size="3">
          <h3>{{card.zu.title}}</h3>
          <p>
            <img [src]="card.zu.data.thumbnails[3].url" />
          </p>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-item lines="none" href="http://benevol.ch"  target="_blank">
          <img src="/assets/logo/Logo_Benevol_oben_4c.svg"  class="benevol"/>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-item lines="none">
          <img src="/assets/pictures/home/suhr.jpg" slot="start" class="suhr_smal" />
        </ion-item>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-text>Eine Initiative von Freiwilligenaus der der Gemeinde Suhr unterstützt durch die Gemeinde Suhr.</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<app-impressum></app-impressum>