<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mitglieder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>  
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Links</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of Card" [href]="item.url"  target="_blank">
      <ion-icon slot="start" color="medium" name="link"></ion-icon>
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-impressum></app-impressum>