<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Statistiken
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>  
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Statistiken</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let statistic of Statistics" (click)="openDetailsWithState(statistic)" button>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>{{statistic.title}}</ion-label>
      <ion-badge color="secondary" slot="end">{{statistic.status}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>